.DashBoardApps{
    padding: 0 15px;
}
@media only screen and (max-width: 600px) {
    .mainPage{
        position: absolute;
    }
    
}
.BasicDetails{
    margin: 2rem;
}
.twotwogroup{
    display: flex;
    flex-wrap: wrap;
}
.revanueDisplayer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.revanuegraph{
    background-color: white;
    flex: 4 1 0;
    /* margin-right: 20px; */
    padding: 10px;
}
.fiveRevenueShow{
    flex: 5 1 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oneRevanueShow{
    width: 92%;
    flex: 1 2 0;
}
.fourrevanueShow{
    flex: 1 2 0;
}
.LossGain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.LossGain span,h5{
   font-size: 12px !important;
}
.FeaturesBuilding{
    display: flex;
    flex-wrap: wrap;
}
.ProfileFollow{
    /* border: 1px solid red; */
    margin: 15px 10px;
    width: 20em;
    background-color: white;
}
.TaskManager{
    margin: 15px 10px;
    width: 20em;
    background-color: white;
}
.OurClient{
    margin: 15px 10px;
    width: 20em;
    background-color: white;
}
.ShirtSellings{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqKq0zGmwM8SuiOvX6A6vpcmQ6Gs_PekhwvxD2xvXMdQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 15px 10px;
    width: 20em;
    height: 17em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}
.ShirtSellings p,.ShirtSellings h4 {
    color: white;
}
.ShirtSellings span,.ShirtSellings i{
    color: orangered;
} 
.ShirtSellings span strike{
    color: white !important;
}
.TwitterFollow{
    margin: 15px 10px;
    width: 20em;
    height: 17em;
    background-color: white;
    padding: 20px;
}
.TwitterFollow i{
    color: rgb(168, 232, 252);
}
.twitterid{
    display: flex;
}
.twitterinfo{
    margin-left: 5px;
}
.twitterinfo h5{
    margin: 0;
    padding: 0;
}
.twitterinfo p{
    font-size: 12px;
}




.ChatWithOwner{
    margin: 15px 10px;
    width: 20em;
    height: 22em;
    background-color: white;
}
.YourTask{
    margin: 15px 10px;
    width: 20em;
    height: 22em;
    background-color: white;
}

