.DashBoardApps{
    padding: 0 15px;
}
@media only screen and (max-width: 600px) {
    .mainPage{
        position: absolute;
    }
    
}
.BasicDetails{
    margin: 2rem;
}
.twotwogroup{
    display: flex;
    flex-wrap: wrap;
}
.revanueDisplayer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.revanuegraph{
    background-color: white;
    flex: 4 1 0;
    /* margin-right: 20px; */
    padding: 10px;
}
.fiveRevenueShow{
    flex: 5 1 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oneRevanueShow{
    width: 92%;
    flex: 1 2 0;
}
.fourrevanueShow{
    flex: 1 2 0;
}
.LossGain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.LossGain span,h5{
   font-size: 12px !important;
}
.FeaturesBuilding{
    border: 1px solid red;

    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}
.ProfileFollow{
    border: 1px solid red;
margin:5px;
    width: 18em;
    flex: 0 0 32.333333%;
    background-color: white;
}
.TaskManager{
    border: 1px solid red;
margin:5px;
    flex: 0 0 32.333333%;
    width: 18em;
}
.OurClient{
    flex: 0 0 32.333333%;
    border: 1px solid red;
margin:5px;
    width: 18em;
}
.ShirtSelling{
    flex: 0 0 32.333333%;
    border: 1px solid red;
margin:5px;
    width: 18em;
}
.TwitterFollow{
    flex: 0 0 32.333333%;
    border: 1px solid red;
margin:5px;
    width: 18em;
}
.ClientChat{
    flex: 0 0 32.333333%;
    border: 1px solid red;
margin:5px;
    width: 18em;
}