.MenuOpner{
    display: none;

}
.MenuOpner i{
color: blue;
}
@media only screen and (max-width: 600px) {
    .MenuOpner{
       
        display: block;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }
    .inputcontrl {
        z-index: 0 !important;
    }
    .commonprop i{
        transition: all 0.5s ease-in-out;
    }
    .hidebars i{
        transform: rotate(90deg) ;
        opacity: 0;
    }
}