.displayPictur {
    padding: 12px;
    background: rgb(244, 241, 241);
    background: linear-gradient(0deg, rgba(244, 241, 241, 1) 37%, rgba(198, 192, 192, 1) 100%);
}

.displayPictur button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .displayPictur button {
        display: block;

    }

    .displayPicturhide {
        transform: translateX(-100%);
    }

    .displayPictur {
        transition: 0.5s  ease;
        position: relative;
        background: rgb(244, 241, 241);
        background: linear-gradient(20deg, rgb(251, 254, 255) 40%, rgb(214, 210, 210) 100%);
        z-index: 1;
        border-bottom-right-radius: 15px;
    }

    .displayPictur button {
        position: absolute;
        right: 10px;
        background-color: rgba(245, 222, 179, 0);
        border: none;
    }




}

.imageProfile img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.SideBarUsername p {
    font-size: small;
    margin: 0;
}

.SideBarUsername b {
    font-size: 11px;

}

.SideBarUsername b i {
    color: rgb(84, 211, 84);
    font-size: 8px;
    border: 0.2px solid green;
    border-radius: 50%;
}

.UserDetails {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.SideBarUsername,
.imageProfile {
    margin: 4px;
}

.MainLinks ul li {
    list-style-type: none;
    margin: 15px;
    border-radius: 10px;
    padding: 8px;

}

.MainLinks {
    font-size: small;

}