.displayPictur{
    width: fit-content;
    padding: 12px;
    background: rgb(244,241,241);
    background: linear-gradient(0deg, rgba(244,241,241,1) 37%, rgba(198,192,192,1) 100%);
}

@media only screen and (max-width: 600px) {
    .displayPicturhide{
        display: none;
    }
    .displayPictur{
       
        position: relative;
        background: rgb(244,241,241);
        background: linear-gradient(0deg, rgba(244,241,241,1) 37%, rgba(198,192,192,1) 100%);
        z-index: 1;

    }
    
}

.imageProfile img{
    width: 100px;
    border-radius: 30px;
}
.SideBarUsername{
    margin-left: 5px;
}
.SideBarUsername b i{
    color: rgb(84, 211, 84);
}
.UserDetails{
    display: flex;
    flex-wrap: nowrap;

}
.SideBarUsername,.imageProfile{
    margin: 4px;
}

.MainLinks ul li{
    list-style-type: none;
    margin: 15px;
    border-radius: 10px;
    padding: 8px;
}
